{% extends 'base.html' %}


    {% block title %}
        About Us
    {% endblock %}

    {% block bodyblock %}
        <h1 class="text-2xl underline"> About Us</h1><br />
        <p> Welcome to 4events. Here you will find a collection of all your favourite performers' upcoming shows. View your events and follow your friends to keep up to date with the latest events your friends are attending!</p>

        <p class="pt-3"> Designed and created by Franklyn Abifarin, this web app allowed me to explore full stack development with Django, using python for back-end, complimented by a combination of HTML, CSS and JavaScript for the front end structure and styling. I am developing an app that put a more social spin on concert websites, eventually facilitating social profiles, with followers and booked events.</p>
    {% endblock %}

